absl-py                0.10.0
andromeda              1.0.0
APScheduler            3.6.3
astunparse             1.6.3
autopep8               1.5.3
bert-tensorflow        1.0.4
cachetools             4.1.1
certifi                2020.6.20
cffi                   1.14.0
chardet                3.0.4
Click                  7.0
colorama               0.4.3
cryptography           3.0
cycler                 0.10.0
decorator              4.4.2
filelock               3.0.12
Flask                  1.1.2
future                 0.18.2
gast                   0.3.3
google-auth            1.20.1
google-auth-oauthlib   0.4.1
google-pasta           0.2.0
grpcio                 1.31.0
h5py                   2.10.0
hmmlearn               0.2.3
idna                   2.10
ipython-genutils       0.2.0
itsdangerous           1.1.0
jieba                  0.42.1
Jinja2                 2.11.2
joblib                 0.16.0
JPype1                 0.7.0
Keras-Preprocessing    1.1.2
kiwisolver             1.2.0
lxml                   4.5.1
Markdown               3.2.2
MarkupSafe             1.1.1
matplotlib             3.2.2
mccabe                 0.6.1
neobolt                1.7.17
neotime                1.7.4
numpy                  1.18.5
oauthlib               3.1.0
opt-einsum             3.3.0
packaging              20.4
pandas                 1.0.5
pdfminer.six           20200720
Pillow                 7.2.0
ply                    3.11
polaris                2.3.12
prompt-toolkit         2.0.10
protobuf               3.13.0
psutil                 5.7.0
py2neo                 4.3.0
pyasn1                 0.4.8
pyasn1-modules         0.2.8
pycodestyle            2.6.0
pycparser              2.20
pycryptodome           3.9.8
pyflakes               2.2.0
Pygments               2.3.1
pyhanlp                0.1.66
pymongo                3.10.1
PyMySQL                0.9.3
pyparsing              2.4.7
PyPDF2                 1.26.0
python-dateutil        2.8.1
pytz                   2020.1
regex                  2020.7.14
requests               2.24.0
requests-oauthlib      1.3.0
rsa                    4.6
sacremoses             0.0.43
scikit-learn           0.23.1
scipy                  1.4.1
sentencepiece          0.1.91
setuptools             41.2.0
six                    1.15.0
sklearn                0.0
sortedcontainers       2.2.2
SQLAlchemy             1.3.18
tensorboard            2.3.0
tensorboard-plugin-wit 1.7.0
tensorflow             2.3.0
tensorflow-estimator   2.3.0
termcolor              1.1.0
threadpoolctl          2.1.0
tokenizers             0.8.1rc1
toml                   0.10.1
torch                  1.6.0+cpu
torchvision            0.7.0+cpu
tqdm                   4.48.0
traitlets              4.3.3
transformers           3.0.2
tzlocal                2.1
urllib3                1.24.3
wcwidth                0.2.5
Werkzeug               1.0.1
wheel                  0.35.1
wrapt                  1.12.1
xlrd                   1.2.0