<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Geek Fred</title>
</head>
<body>
    <div class="main_frame">
        <img src="" alt="" width="800px" height="80px">
    </div>
    <div class="main_frame">
        <form action="/search/" methord="get" class="search-style" target="_blank">
            <input type="search" name="query" id="" autocomplete="on" required class="search-style">
            <input type="submit" value="提交" class="search-style">
        </form>
    </div>
    <div class="main_frame">
        <hr>
    </div>
    <div class="main_frame">
        <ul>
            <li><a href="macro.html" target="_blank" class="guide-style">宏观</a></li>
            <li><a href="petro.html" target="_blank" class="guide-style">石油</a></li>
            <li><a href="lithium.html" target="_blank" class="guide-style">锂业</a></li>
        </ul>
    </div>
</body>
</html>