<!DOCTYPE html>
<html>
<head>
    <title>Geek Fred</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.65, user-scalable=yes, minimum-scale=0.5, maximum-scale=1.0"/>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
</head>
<body>
    <div class="main_frame">
        <img src="" alt="" width="800px" height="80px">
    </div>
    <div class="main_frame">
        <form action="/dev/" methord="get" class="search-style" target="_blank">
            <input type="search" name="query" id="" autocomplete="off" class="search-style">
            <input type="submit" value="Submit" class="search-style">
        </form>
    </div>
    <div class="main_frame">
        <hr>
    </div>
    <div class="main_frame">
        <ul>
            <li><a href="macro.html" target="_blank" class="guide-style">Macro</a></li>
            <li><a href="petro" target="_blank" class="guide-style">Petro</a></li>
            <li><a href="lithium" target="_blank" class="guide-style">Lithium</a></li>
        </ul>
    </div>
</body>
</html>